# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.vs/
[Bb]in/
[Oo]bj/
[Pp]ublish/
*.user
*.suo

# SSDT
[Oo]utput/
*.dbmdl
*.jfm

# Ignore IDE IntelliJ user specific files
**/.idea/workspace.xml
**/.idea/dataSources.xml
**/.idea/tasks.xml
**/.idea/index.pb
**/.idea/sonarlint/issuestore
**/.idea/compiler.xml
**/.idea/gradle.xml
**/.idea/modules.xml
**/.idea/modules
**/.idea/*.iml
**/.idea/libraries
**/.idea/compiler.xml
**/.idea/misc.xml
**/.idea/runConfigurations.xml

.DS_Store

# Source control cruft
*.orig

# Ignore local docker compose file
local/docker-compose.yml
local.properties
.idea/kotlinc.xml
